.productimg{
    width: 220px;
    padding-top: 6px;
}
.productimginfo{
  width: 280px;
}
.productdivinfo{
  position: absolute;
  margin-left: 70px;
  margin-top: 70px;
  display: inline-block;
}
.productnameinfo{
  width: 2000px;
  font-size: 27px;
  display: inline-block;
  position: absolute;
  margin-left: 20px;
}
.productpriceinfo{
  position: absolute;
  margin-top: 250px;
  display: inline-block;
  width: 500px;
  margin-left: 20px;
  font-size: 25px;
}
.productintro{
  position: absolute;
  margin-top: 700px;
  margin-left: -595px;
  font-size: 30px;
}
.productintrotext{
  position: absolute;
  margin-top: 750px;
  margin-left: -595px;
  font-size: 20px;
}
.product{
    border: none;
    background-color: rgb(254,209,1);
    color: white;
    line-height: 40px;
    width: 100%;
    text-align: left;
    padding-left: 10px;
    cursor: pointer;
  }
  
  .productname{
    color: white;
    font-size: 20px;
    margin-left: 60px;
    border: 0px;
    background-color: black;
  }
  .productsection{
    margin-top: 100px;
  }
  #feature{
    margin-left: 100px;
    position: absolute;
    margin-top: 360px;
    font-size: 24px;
  }