.navbar{
    background-color: black !important;
  }
  *{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
  }
    .contact{
      font-size: 15px;
      padding-left: 10px;
      margin-bottom: 0px;
    }
    body{
      background-color: white;
  }
    .navbar-nav{
      padding-left: 105px;
    }
    .taskbar{
      color: white;
      font-size: 18px;
    }
    .taskbar:hover{
      background-color: black !important;
      color: white;
    }
    .slide-content{
      margin-left: 15px;
    }
    #backgroundimg{
      background-image: url(./image/backgroundimg.jpg) !important;
      background-size: 52% !important;
      background-repeat: no-repeat !important;
    }
    .tittle{
      position: relative;
      margin-top: -35px;
      line-height: 60px;
      font-size: 35px;
      font-family: 'Josefin Sans', sans-serif;
    }
    .productdiv{
      margin-top: 40px;
    }
    .overwirte{
      height: 1000px;
    }
    #backgroundimgproduct{
      background-image: url(./image/backgroundproductimg.jpg) !important;
      background-size: 100% !important;
      background-repeat: no-repeat !important;
    }
    #khung{
      margin-left: 36.6%;
    }
    .divfix{
      height: 416px;
      margin-top: 60px !important;
    }